body {
    background-color: #FFFBF6;
    margin: 0px;
    padding: 0px;
}
/* top picture and text */
.top-picture img {
    width: 100%;
}
.top-picture .header h1 {
    width: 573px;
    text-align: center;
    font-family : Signatra DEMO;
    font-weight: normal;
    font-size : 124px;
    color : #FFFBF6;
    position: absolute;
    top: 140px;
    left: 435px;
}
.top-picture .subheader h2 {
    text-align: center;
    font-family : helvetica;
    font-weight: normal;
    font-size : 52px;
    color: #FFFBF6;
    position: absolute;
    left: 582px;
    bottom: 103px;  
}
/* box-1 who are we? */
.box-1 {
    width: 940px;
    margin: auto;
    color : #21282B;
}
.box-1 h1 {
    text-align: center;
    font-family : Signatra DEMO;
    font-weight: normal;
    font-size : 110px;
    margin: 0px;
    padding: 28px 0px 12px 0px;
}
.box-1 p {
    font-family : Helvetica;
    font-size : 36px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.box-1 img {
    width: 285px;
    height: 82px;
    display: block;
    margin: 0px auto 0px auto;
    padding: 28px 28px;
}
/* middle-picture and text */
.middle-picture img{
    width: 100%;
}
.middle-picture .header {
    font-family : Signatra DEMO;
    color : #FFFBF6;
    text-align:center;
}
.middle-picture .header h1 {
    width: 960px;
    font-weight: normal;
    font-size : 100px;
    position: absolute;
    top: 1465px;
    left: 233px;
}
.middle-picture .header h2 {
    font-weight: normal;
    font-size: 75px;
    position: absolute;
    top: 1693px;
    left: 500px;
}
.middle-picture .subheader h2 {
    position: absolute;
    top: 1840px;
    left: 568px;
    font-family: helvetica;
    font-size: 52px;
    color : #FFFBF6;
    font-weight: normal;
}
/* box-2 why join and icons */
.box-2 {
    width: 960px;
    margin: auto;
    color : #21282B;
    font-family: helvetica;
    font-size: 16px;
}
.box-2 .header h1{
    text-align: center;
    font-family : Signatra DEMO;
    font-weight: normal;
    font-size : 110px;
    margin: 0px;
    padding: 36px 0px 36px 0px;
}
.box-2 .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 28px;
    grid-row-gap: 28px;
}
/* meet people*/
.box-2 .meetpeople {
    text-align: center;
}
.box-2 .meetpeople img{
    width: 85px;
    height: 85px;
}
.box-2 .meetpeople h2{
    font-weight: normal;
}
/* give love */
.box-2 .givelove {
    text-align: center;
}
.box-2 .givelove img{
    width: 85px;
    height: 85px;
}
.box-2 .givelove h2{
    font-weight: normal;
}
/* organize events*/
.box-2 .events {
    text-align: center;
}
.box-2 .events img{
    width: 85px;
    height: 85px;
}
.box-2 .events h2{
    font-weight: normal;
}
/* no commitments */
.box-2 .nocommitments {
    width: 300px;
    text-align: center;
}
.box-2 .nocommitments img{
    width: 85px;
    height: 85px;
}
.box-2 .nocommitments h2{
    font-weight: normal;
}
/* share your talents */
.box-2 .share {
    width: 300px;
    text-align: center;
}
.box-2 .share img{
    width: 85px;
    height: 85px;
}
.box-2 .share h2{
    font-weight: normal;
}
/* tons of laughter */
.box-2 .laughter {
    width: 300px;
    text-align: center;
}
.box-2 .laughter img{
    width: 85px;
    height: 85px;
}
.box-2 .laughter h2{
    font-weight: normal;
}
.box-2 img {
    width: 285px;
    height: 82px;
    display: block;
    margin: 0px auto 0px auto;
    padding: 28px 28px;
}