body {
    background-color: #FFFBF6;
    margin: 0;
    padding: 0;
}
#top-picture {
    background-image: url("img/top-picture.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#top-picture h1 {
    border: 8px solid #FFFBF6;
    padding: 5rem 3rem;
    background: #FFFBF640;
}
#top-picture legend{
    border: 8px solid #FFFBF6;
}
#top-picture fieldset{
    border: 8px solid #FFFBF6;
}
#top-picture h2{
    background: #FFFBF640;
    border: 8px solid #FFFBF6;
    padding: 0.2rem 1.3rem;
    margin-top: -100px;
}
.picture-header {
    color: #FFFBF6;
    font-family: Signatra DEMO;
    font-size: 6rem;
    font-weight: normal;
    text-align: center;
}
.picture-subheader{
    font-family: helvetica;
    font-weight: normal;
    font-size: 2.2rem;
    color: #FFFBF6;
}
